* {
  font-family: 'Noto Sans KR', sans-serif;

  font-size: 10px;
  color: #fff;
}
:root {
  --main-color: rgb(255, 80, 149);
  --main-black: rgb(16, 17, 18);
}

body {
  padding: 0 40px;
  box-sizing: border-box;
  background-color: var(--main-black);
  /* max-width: 1500px; */
  margin: 0 auto;
}

section * {
  font-size: 2rem;
}

svg {
  pointer-events: none;
}

input::-webkit-input-placeholder {
  color: #ededed;
  opacity: 0.7;
}
input:-ms-input-placeholder {
  color: #ededed;
  opacity: 0.7;
}
textarea::-webkit-input-placeholder {
  color: #ededed;
  opacity: 0.7;
}
textarea:-ms-input-placeholder {
  color: #ededed;
  opacity: 0.7;
}

header {
  padding: 200;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #fff;
}

/* 로고 */
.logo {
  cursor: pointer;
  color: var(--main-color);
  font-weight: 800;
  font-size: 3rem;
}

/* 검색 */
.searchWrap {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 50px;
  box-sizing: border-box;
}
.searchIcon {
  font-size: 3rem;
}
.searchBox {
  padding: 0;
  box-sizing: border-box;
  border: 0;
  width: 1px;
  height: 50px;
  font-size: 2rem;
  margin-right: 10px;
  background-color: transparent;
  transition:
    width 0.5s,
    height 0.5s;
}
.searchBox.large {
  padding: 10px;
  transition:
    width 0.5s,
    height 0.5s;
  border: 1px solid #fff;
  display: block;
  width: 200px;
  height: 50px;
}
.searchIconWrap {
  background-color: transparent;
  border: 0;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

/* 인트로 페이지 */

.introduce {
  height: 400px;
  margin-top: 25px;
}
.introduce span {
  color: rgb(255, 80, 149);
  font-size: 4rem;
  font-weight: 700;
}
.introduce > p {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 20px;
}

.introduce .char {
  width: 400px;
  margin: 0 auto;
}
.introduce .char img {
  width: 100%;
}

/* 카드 스타일 */

.rankedList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  list-style: none;
}

.card {
  transition: transform 0.3s;
  cursor: pointer;
  margin: 20px;

  width: 300px;
  justify-self: center;
  cursor: pointer;
}
.card:hover {
  transform: scale(1.1);
}

.card-img-overlay {
  padding: 10px;
  box-sizing: border-box;
  display: none;
}
.card:hover .card-img-overlay {
  background-color: #000;
  opacity: 0.8;
  display: block;
}

.card-title {
  font-size: 2rem;
  position: absolute;
  top: 10px;
}
.cardTextWrap {
  position: absolute;
  bottom: 10px;
}
.overview {
  margin-top: 30px !important;
  font-size: 1.3rem !important;
}

.rateWrap {
  display: flex;
}

/* 검색페이지 */

.searchList {
  display: flex;
  flex-wrap: wrap;
}
.noSearch {
  text-align: center;

  margin-top: 50px;
  display: none;
}
.noSearch > p {
  font-size: 2rem;
}

.section1 > p {
  padding-left: 20px;
}

.char2 {
  width: 200px;
  margin: 0 auto;
  margin-top: 20px;
}
.char2 > img {
  width: 100%;
}

/* 로딩 */

.loading {
  display: none;
  /* display: flex; */
  margin: 0 auto;
  margin-top: 50px;
}

/* chat gpt */

.floatingArea {
  position: fixed;
  display: flex;
  /* padding: 14px 19px; */
  /* align-items: center; */
  align-items: flex-end;
  right: 18px; /*부모의 50%*/
  bottom: 72px;
  /* background-color: white; */
  border-radius: 24px;
  color: black;
  font-size: 14px;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  flex-direction: column;
  justify-content: flex-end;
}

#floatingButton:hover {
  box-shadow:
    0 0 0 1px transparent,
    0 0 0 4px transparent,
    0 6px 16px rgba(0, 0, 0, 0.12) !important; /*그림자가 세개지만 마지막것만 표시된다.*/
  transform: scale(1.04);
}

#floatingButton {
  width: 56px;
  height: 56px;
  border-radius: 20px;
  background-color: var(--main-color);
  border: 0px;
  box-shadow: transparent 0px 0px 0px;
}

.chatbot {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.chatbot > span {
  margin-right: 10px;
}
.chatbot > span > img {
  width: 30px;
  height: 30px;
}

.chatContainer {
  width: 360px;
  height: 690px;
  background-color: #fff;
  color: #333;
  border-radius: 30px;
  position: relative;
  /* padding: 20px; */
  box-sizing: border-box;
}
.chatContainer.remove {
  display: none !important;
}
.chat_title {
  border-radius: 30px 30px 0 0;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem !important;
  color: #fff !important;
  background-color: var(--main-color);
}

.chatContainer * {
  color: #333;
  font-size: 1.5rem;
}
#chat-messages {
  padding: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column-reverse;
  max-height: 550px;
  overflow-y: scroll;
}

#user-input {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
  bottom: 10px;
  display: flex;
  justify-content: space-between;
}
#user-input > input {
  width: 78%;
  height: 30px;
  border-radius: 5px;
  border: 0px;
  background-color: #ededed;
}
#user-input button {
  width: 20%;
  height: 30px;
  border-radius: 5px;
  border: 0px;
  background-color: var(--main-color);
  color: #fff !important;
}
